@import url(liberation-serif/stylesheet.css);

body {
	border: 1px dotted #998;
	padding: 1em;
	width: 30em;
	max-width: 100%;
	margin: 1em auto;
	font-family: 'Liberation Serif', 'LiberationSerifRegular', 'Times New Roman', serif;
}

body.wide {
	width: 40em;
}

form {
	margin: 0;
	padding: 0;
}

#comment-form textarea {
	width: 100%;
	height: 4em;
}

.comment-addr {
	color: #999;
}

.comment-date {
	color: #999;
}

body {
	width: 33em;
}

.nodes {
	padding: 0;
}
.nodes li {
	list-style-position: inside;
	list-style-type: none;
}

dl, dt, dd {
	margin: 0;
	padding: 0;
}

dt {
	float: left;
	width: 5em;
	padding-right: .5em;
	text-align: right;
	border-right: 1px dotted #998;
	border-top: 1px dotted #998;
	font-weight: normal;
}
dt:first-child {
	border-top: none;
}

dd {
	margin-left: 6em;
	border-top: 1px dotted #998;
}
dt:first-child + dd {
	border-top: none;
}

dd dl {
	margin-top: 0;
}
dd dt {
	width: 3em;
}
dd dd {
	margin-left: 4em;
}

h3, h4, h5 {
	margin: 1em 0 0;
	clear: left;
}

ul {
	margin: 0;
}

dl ul {
	padding-left: 1.5em;
}

.constructed {
	color: grey;
}
